.container {
  width: 100%;
}

.conversion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;

  word-break: break-word;
  text-align: center;

  > code {
    flex: 1;
  }
}
